.search{
	display: flex;
	width: 100%;
	height: 13vh;
	background-color: #289096;
}

.inBlock{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;


}

.inBlock input{
	width: 40%;
	height: 5vh;
	border-radius: 10px;
}

.inBlock button{
	width: 7%;
	height: 5vh;
	border-color: black;
	border-radius: 10px;
	background-color: white;
}
.inBlock button:hover{
	background-color: #2ABCBC; 
/* 	color: white;*/
 	border-color: white;
}
.inBlock button:active {
	background-color: #5dd9c2; 	
}

.inBlock img{
	width: 15%;
	height: 10vh;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
}

.choice{
	background-color: #1D5B63;
	display: flex;
	width: 80%;
	height: 13vh;
	align-items: center;
	justify-content: space-around;

 }

.choice button{
	width: 10%;
	height: 5vh;
	border-color: black;
	border-radius: 10px;
	background-color: white;
}
.choice button:hover{
	background-color: #2ABCBC; 
 	border-color: white;
}
.choice button:active {
	background-color: #5dd9c2; 	
}


.news img{
	width: 70%;
	height: 30vh;
}

.news button{
	width: 5%;
	height: 8vh;
}

.news {
  position: relative;
  width: 80%;
  margin-top: 1%;
}

#main-image {
  width: 100%;
  height: 20vh;
  display: block;
  border: 2px solid black;

}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.01);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.newCont{
	display: flex;
    justify-content: center;
    width: 100%;
}

.productCont {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	width: 80%;
	height: 40%;
	margin: 0 auto;
/*    grid-template-rows: repeat(3, 1fr);*/
/*	grid-template-rows: auto;*/
	grid-template-rows: repeat(auto-fill, 50%);
}
.product {
	background-color: #39C1B1;
	border-radius: 8px;
	padding: 10px;
	text-align: center;
	justify-content: center;
	margin-top: 7%;
	flex-direction: column;
	display: flex;
	align-items: center;
}


.product p, a{
	font: 20px 'Open Sans', sans-serif;
}

.product img {
  width: 100%;
  height: 70%;
  border-radius: 8px;
  margin-bottom: 5%;
}

.product button{
	width: 33%;
	height: 4vh;
	border-radius: 7px;
	margin-top: 3%;
	border-color: black;
	background-color: white;
}
.product button:hover{
	background-color: #2ABCBC; 
/* 	color: white;*/
 	border-color: white;
}
.product button:active {
	background-color: #5dd9c2; 	
}

